.card2{
  width: 250px;
  height: 250px;
}

body {
  overflow: auto;
  overflow-y: scroll;
  background-size: 1500px 1000px;
  background-color: #cccccc;
  background-attachment: fixed;
}


.log-in-page{
  h2{
    color: #119d24;
  }
  background-image: url("https://images.pexels.com/photos/15382/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-color: white !important;
  overflow: auto;
  overflow-y: scroll;
  height: 800px;
  background-size: 1500px 1000px;
  background-color: #cccccc;
  background-attachment: fixed;
  align-content: center;
  a{
    color: #119d24;
  }
}

.new-gear{
  h1{
    color: black;
  }
  background-color: white;
  a{
    color: black;
  }
}
.container {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.new-gear-specifics{
  color: black;
}

.homepage{
  background-image: url("https://images.pexels.com/photos/15382/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  max-height: 90vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: auto;
  overflow-y: auto;
  height: 800px;
  background-color: #cccccc;
  background-attachment: fixed;
  a{
    color: #119d24;
  }
}

.btn-search {
  background: green;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
  a{
    color: white;
  }
}

#button{
   background: linear-gradient(#119d24, #22c938);
  color: white;
  a{
    color: white;
  }
}

.btn-search:hover {
  background: linear-gradient(#119d24, #22c938);
  color: white;
  a{
    color: white;
  }
}

.card-profile{
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  img {
    border-radius: 3px;
  }
}

.input_large{
  width: 300px;
}
