<h1>Requests#new</h1>
<div class="col-xs-6">
  <%= simple_form_for [users, gear] do |f| %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>
