Gears Available<br><br>
<% @gears.each do |gear| %>
 <div class="col-xs-12 col-sm-12">
<h1><%= gear.name %><br></h1>
<h2>$<%= gear.price %><br></h2>
<h3><%= gear.category %><br></h3>
<h4><%= link_to "More info", gear %>
</div>
<% end %>

