<h1>Gears#index</h1>
<p>Find me in app/views/gears/index.html.erb</p>
<div id="map">
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 52.5206, lng: 13.4098},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
</div>
