.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 100%;
  height: 50px;
  padding: 16px 24px;
  z-index:1;
  position: fixed;
  overflow: hidden;
    top: 0;
  transition: top 0.3s;
  a {
  margin-left: -15px
  }
}

.navbar-lewagon .logo{
  border-radius: 50px;
  width: 180px;
}

.navbar-lewagon .brand {
  width: 40px;
}

.navbar-lewagon .navbar-lewagon-actions {
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link {
  margin-left: 24px;
  color: #999999 !important;
  a {
    color:#999999 !important;
    text-decoration:none;
  }
  a:hover {
    text-decoration: none;
  }
}
.navbar-lewagon .navbar-lewagon-actions .navbar-lewagon-link:hover {
  color: #151515;
}


.navbar-lewagon .navbar-lewagon-actions .avatar {
  margin-left: 10px;
  border-radius: 50%;
}

.navbar-lewagon .dropdown-toggle {
  cursor: pointer;
}

